html, body {
  	color: #000000;
	background: #f5f5f5;
	font-size: 13pt;
	line-height: 125%;
	font-family: verdana,arial,sans-serif,helvetica;
	text-align: justify;
}

#main {
	height: 100%;
	width:100%;
	cell-padding:0px;
	cell-spacing:0px;
	margin: auto;
	object-fit: cover;
	display: inline;
}

.entete{
	margin: 0px;
	text-align: right;
}

.titre{
	color: #486591;
	font-size: 18;
	text-align: right;
}

.dates, .themes, .commitee{
	line-height: 150%;
}

.lieu{
	font-size: 10pt;
	text-align: left;
}

#navigation{
	position:fixed;
	left: 10%;
	top: 0;
	background: #1b82b1;
	height:100%;
	width:20%;
	margin: 0 auto;
	padding: 0;
	/* max-width:1000px; */
	z-index: 1000;
	overflow: scroll;
	scrollbar-width: none;
}

#navigation .icon {
	color: white;
	padding-left: 20px;
	padding-right: 5px;
}

#navigation .envelope {
	color: white;
	padding-left: 19px;
	padding-right: 5px;
}

#navigation #switch {
	padding-top: 0px;
}

#navigation h1 {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 25px;
	margin: 0 auto;
	text-align: center;
}

#navigation #switch {
	font-size: 1.125em;
	font-weight: bold;
	padding-bottom: 30px;
	margin: 0 auto;
	text-align: center;
}

#navigation .pp {
	margin: 0 auto;
	display: block;
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin-top: 30px;
}

#navigation img {
	width: 100%;
	height: auto;
	border: 1px solid white;
	margin-top: -1px;
}

#navigation a, #navigation #switch {
	text-decoration: none;
	color: white;
}

#navigation .contactLiens a:hover, #navigation #switch a:hover {
	text-decoration: underline;
}

#navigation ul{
	color: white;
	text-decoration: none;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

.publications ul {
	text-decoration: none;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

.publications li {
	padding: 20px;
	padding-bottom: 0px;
}

.publications li:last-child {
	padding-bottom: 20px;
}

.publications .diffusion .details ul {
	list-style-type: disc;
	padding-left: 40px;
	padding-right: 20px;
}

.publications ul.jury {
	list-style-type: disc;
	padding-left: 75px;
}

.publications ul.jury li {
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0 auto;
	padding-left: 0px;
}

.publications .type {
	font-weight: bold;
}

.publications .review {
	font-style: italic;
}

.publications .presentationName {
	font-style: italic;
}

.english {
	font-style: italic;
}

.toolDesc {
	padding-left: 30px;
	margin-top: 10px;
}

.publications .pubList li {
	color: #5A5E6B;
}

.publications a, div a {
	text-decoration: none;
	color: #1b82b1;
}

.publications a:hover, div a:hover {
	text-decoration: underline;
}

.publications .pubIcon {
	color: #1b82b1;
}

.kmers {
	font-style: italic;
}

#navigation h2 {
	color: white;
	font-size: 1em;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin: 0 auto;
	text-align: left;
	padding-right: 30px;
}

#navigation .CV li {
	position: relative;
	top: 0;
	left: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #006999;
}

#navigation .CV li:first-child {
	border-top: 1px solid #006999;
}

#navigation .CV li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 87.5%;
	height: 75%;
	padding-top: 17.5px;
	padding-left: 12.5%;
}

@media(max-width: 1245px) {
	#navigation .CV li:first-child {
		padding-top: 30px;
		padding-bottom: 50px;
	}
}

#navigation .CV li:hover, #navigation .CV li.active{
	background: #006999;
}

#navigation #switch a.active {
	text-decoration: underline;
}

#navigation .contactLiens li {
	position: relative;
	padding-top: 10px;
	background: #1b82b1;
	padding-right: 5px;
	text-align: left;
	padding-left: 10px;
}

#navigation .contactLiens .link {
	padding-right: 10px;
}

.container {
	background: #fff;
	z-index:150;
	position: absolute;
	top:0;
	left: 30%;
	/* max-width:2000px; */
	margin:0 auto;
	z-index:450;
	margin-right: 10%;
	padding-bottom: 125px;
}

.content {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}

.experience td:first-child, .formation td:first-child {
	padding-right: 2.5%;
}


@media (max-width: 1000px) {
	.container {
		background: #fff;
		z-index:150;
		position: absolute;
		top:0;
		left: 20%;
		/* max-width:2000px; */
		margin:0 auto;
		z-index:450;
		padding-bottom: 125px;
	}
	
	#navigation{
		position:fixed;
		left: 0%;
		top: 0;
		background: #1b82b1;
		height:100%;
		width:20%;
		margin: 0 auto;
		padding: 0;
		/* max-width:1000px; */
	}
	
	#navigation .pp {
		margin: 0 auto;
		display: block;
		position: relative;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 50%;
		margin-top: 30px;
	}
	
	#navigation img {
		width: 100%;
		height: auto;
		border: 1px solid white;
		margin-top: -1px;
		margin-left: -1px;
	}
}

.experience h1, .formation h1, .competences h1, .recherche h1, .enseignement h1, .publications h1, .accueil h1 {
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 50px;
	padding-bottom: 20px;
	margin: 0 auto;
	text-align: left;
}

.experience, .formation, .competences, .recherche, .enseignement, .accueil {
/*
	padding-bottom: 50px;
*/
/*
	border-bottom: 1px solid #006999;
*/
}

/*
.experience {
	padding-bottom: 25px;
}

.enseignement {
	padding-bottom: 40px;
}
*/

.recherche h1, .enseignement h1, .publications h1 {
	padding-bottom: 40px;
}

.job .location, .teaching .department, .diffusion .location, .diploma .location {
	color: grey;
}

.diffusion {
	padding: 20px;
}

.job table, .diploma table, .teaching table, .diffusion table {
	width: 100%;
	height: 100%;
}

.teaching table td {
	padding: 1em;
}

.teachingTable td {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.teachingTableHeader, .pubTableHeader {
	font-weight: bold;
}

.teachingTable .total {
	font-weight: bold;
}


tr.teaching {
	margin: 0 auto;
	padding: 0;
}

.teaching a {
	color: #1b82b1;
	text-decoration: none;
}

.teaching a:hover {
	text-decoration: underline;
}


table .CM, table .TD, table .TDM {
	text-align: center;
}

.job h3, .teaching h3, .diploma h3 {
	margin: 0 auto;
	padding-top: 20px;
	float: left;
	text-align: left;
}

 .diffusion .name {
	float: left;
	font-weight: bold;
}

.teaching .school {
	margin: 0 auto;
	font-weight: bold;
	color: grey;
}

.job .date, .diploma .date {
	color: #1b82b1;
	padding-top: 20px;
	float: right;
}

.diffusion .date {
	color: #1b82b1;
	float: right;
	padding-right: 20px;
}

.teaching .date {
	color: #1b82b1;
	float: right;
}

.job .details {
	line-height: 150%;
}

.title{
	color: #1b82b1;
	text-align: left;
	padding-top: 75px;
	padding-bottom: 20px;
	font-variant: small-caps;
}

.recherche .keywords {
	font-weight: bold;
}
